h2{
    color: purple;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
div{
    border: 1px solid darkblue;
    border-radius: 10px;
    margin: 15px;
    padding: 10px;
    background-color: cadetblue;
}
img{
    display: block;
    height: 500px;
    width: 80%;
    margin: auto;
}